/*body{*/
/*    background-color: black;*/
/*}*/

#addBlogContainer{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    background-color: #FBFAFF;
}