#card{
    /*background-color: bisque;*/
    width: 408px;
    height: 620px;
    margin-top: 56px;
    margin-bottom: 0;


}

#Blogtitle{
    margin-top: 0;
    color: #1A1A1F;
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    height: 56px;
    margin-bottom: 16px;
    width: 100%;
    /*background-color: red;*/
    text-align: justify;
    word-wrap: break-word;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    line-height: 28px; /* 175% */


}

#blogTagContainer{
    margin-top: 0;
    display: flex;
    gap: 16px;
    flex-wrap: wrap;
    margin-bottom: 16px;
    /*overflow: hidden;*/
}
#photo{
    box-sizing: border-box;
    width: 100%;
    height:328px ;
    border-radius: 12px;
    border:1px solid black;
    margin-bottom: 24px;
}

#name{
    color: #1A1A1F;
    font-size: 16px;
    font-weight: 500;
    margin-top: 0;
    margin-bottom: 8px;

}

#description{
    margin-top: 0;
    /*font-family: FiraGo,sans-serif;*/
    margin-bottom: 16px;
    color: #404049;
    font-size: 16px;
    font-weight: 400;
    height: 56px;
    text-align: justify;
    word-wrap: break-word;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    font-style: normal;
    line-height: 28px; /* 175% */

}

#date{
    margin-top:0;
    color: #85858D;
    font-family: FiraGO,sans-serif;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
}

#link{
    margin-top: 0;
    font-size: 14px;
    color:#5D37F3 ;
    position: absolute;
}
#link:after{
    content: url("/Arrow.svg");
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}
#link_container{
    display: flex;
}






