#categoriesBar{
    display:flex;
    /*justify-content: center;*/
    align-items: center;
    width: 35%;
    /*flex-wrap: wrap;*/
    overflow: scroll;
    overflow-y: hidden;
    margin-left: auto;
    margin-right: auto;
}

#categoriesBar>*{
    margin: 10px;
}
