/* styles/fonts.css */

@import url('https://free.bboxtype.com/embedfonts/?family=FiraGO:400,500,700');

body {
    font-family: "FiraGO",sans-serif;
    /*background-color: #F3F2FA;*/
    margin: 0;
    padding: 0;
}

