

#bar{
    display: flex;
    width: 100%;
    height: 80px;
    /*background-color: black;*/
    align-items: center;
    justify-content: space-between;
    background-color: white;
    padding: 28px 76px 28px 76px;
    box-sizing: border-box;
    border-bottom: 1px solid #E4E3EB;



}

#bar img{
    /*height: 50%;*/
}

#bar button{
    border:transparent;
    cursor: pointer;

    background-color: #5D37F3;
    color:white;
    border-radius: 10px;
    width:93px ;
    height: 40px;

}

#title{

    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 34px;
    font-weight: bold;
    font-family: "FiraGo", sans-serif;
    margin: 64px 89px 64px 89px;
}


#title img{
    /*background-color: black;*/
    height: 200px;
}


